@import '../../styles/mixin';
//
:global {
  .home {
    user-select: none; //文本禁止复制
    position: absolute;
    overflow: hidden;
    background: $default-home-background-color;
    @include size(100%, 100vh);
    @include flex-center-middle;
    @include flex-direction(column);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    //text-transform: uppercase;
    opacity: 0;
    &.ready {
      opacity: 1;
    }
    .fireworks {
      @include square(100%);
      @include custom-position(absolute, $top: 0, $left: 0);
    }
    &-logo-animation {
      pointer-events: none;
      @include flex-center-middle;
      ul li {
        @include ul-initialize;
      }
      .letters {
        position: relative;
        @include flexbox;
        width: rem(682px);
        height: rem(162px);
        @include ul-initialize;
        //
        .letter {
          position: relative;
          @include square(rem(162px));
          &:not(:first-child) {
            margin-left: -42px;
          }
          &-i {
            z-index: 1;
            width: 82px;
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
          }
        }
        //
        .dot {
          position: absolute;
          @include square(rem(42px));
          @include prefix(transform, scale(0));
          &-i {
            top: 0;
            left: 35%;
          }
          &-e {
            bottom: 0;
            right: 0;
          }
        }
        //
        .logo-icon {
          @include flexbox;
          @include custom-position(absolute, $left: 230px, $top: -10px);
          @include size(330px, 62px);
          .icon {
            @include square(62px);
            opacity: 0;
            cursor: pointer;
            &-text {
              color: rgba($font-initialize-color, 0.8);
              text-shadow: 0px 2px 2px rgba($font-initialize-color, 0.12);
              //background:linear-gradient(left,#5e89fb,#ff1461,#18f38c);
              font-size: 2.8rem;
              line-height: 62px;
              @include custom-position(absolute, $top: 60px, $left: 72px, $right: 10px);
              .texty span {
                padding-right: 2px;
              }
              path,
              polygon {
                opacity: 0;
              }
            }
          }
          // avatar
          .avatar {
            opacity: 0;
            box-shadow: 1px 0 1px fade($dark-color, 10%);
            border-radius: 100%;
            @include custom-position(absolute, $left: -100vw, $top: 5.3rem);
          }
        }
        //
        .motion-path {
          color: #c26eff;
          position: relative;
          margin: auto;
          width: 256px;
          .follow-path {
            position: absolute;
            top: -9px;
            left: -9px;
            svg {
              stroke-width: 1;
              fill: none;
              fill-rule: evenodd;
              stroke: currentColor;
              @include custom-position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
            }
          }
          .shadow {
            position: absolute;
            opacity: 0.2;
          }
          .small {
            @include square(18px);
          }

          .square,
          .circle {
            pointer-events: none;
            position: relative;
            width: 28px;
            height: 28px;
            margin: 1px;
            background-color: currentColor;
            font-size: 12px;
          }
        }
      }
    }
    &-footer-info {
      text-align: center;
      .description {
        padding: 0 1.5rem;
        height: rem(50px);
        font-weight: 400;
        word-spacing: 2px;
        color: rgba($font-minor-color, 0.9);
        font-size: 1.1rem;
        &-chinese {
          font-weight: normal;
        }
      }
      .links {
        @include ul-initialize;
        @include flex-center-middle;
        @include prefix(flex-direction, column);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        padding: 1.3rem 0;
        li {
          @include ul-initialize;
          padding: 0 1rem;
          > a {
            opacity: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            @include prefix(flex-direction, column);
            @include flex-center-middle;
            @include size(180px, 60px);
          }
          .blue {
            color: $color-09;
          }
          .red {
            color: $color-01;
          }
          .green {
            color: $color-05;
            svg {
              @include prefix(transform, rotate(180deg));
            }
          }
          svg {
            stroke-width: 1;
            fill: none;
            fill-rule: evenodd;
            stroke: currentColor;
            @include custom-position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
          }
          path {
            scale: 0.9;
            transform-origin: 50% 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  :global {
    .home {
      .links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        @include prefix(flex-direction, row);
      }
    }
  }
}
@media (max-width: 640px) {
  :global {
    .home {
      &-logo-animation > .letters > .logo-icon {
        .icon {
          &-text {
            font-size: 1.75rem;
          }
        }
      }
      &-footer-info {
        .description {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  :global {
    .home {
      &-logo-animation > .letters > .logo-icon {
        .icon {
          &-text {
            font-size: 1.45rem;
          }
        }
      }
      &-footer-info {
        .description {
          font-size: 0.9rem;
        }
      }
    }
  }
}
