@import '../../styles/theme';
@import '../../styles/mixin';
//
:global {
  .home {
    position: absolute;
    overflow: hidden;
    background: $default-home-background-color;
    @include size(100%, 100vh);
    @include flex-center-middle;
    @include flex-direction(column);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    //text-transform: uppercase;
    opacity: 0;
    &.ready {
      opacity: 1;
    }
    .fireworks {
      @include square(100%);
      @include custom-position(absolute, $top: 0, $left: 0);
    }
    &-logo-animation {
      width: 100%;
      pointer-events: none;
      @include flex-center-middle;
      ul li {
        @include ul-initialize;
      }
      .letters {
        position: relative;
        @include flexbox;
        width: rem(682px);
        height: rem(162px);
        @include ul-initialize;
        //
        .letter {
          position: relative;
          @include square(rem(162px));
          &:not(:first-child) {
            margin-left: -42px;
          }
          &-i {
            z-index: 1;
            width: 82px;
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
          }
        }
        //
        .dot {
          position: absolute;
          @include square(rem(42px));
          @include prefix(transform, scale(0));
          &-i {
            top: 0;
            left: 240px;
          }
          &-e {
            bottom: 0;
            right: 0;
          }
        }
        //
        .logo-icon {
          @include flexbox;
          @include custom-position(absolute, $left: 230px, $top: -10px);
          @include size(222px, 62px);
          .icon {
            @include square(62px);
            opacity: 0;
            cursor: pointer;
            &-text {
              @include custom-position(absolute, $top: 60px, $left: 60px);
              @include size(160px, 62px);
              path,
              polygon {
                opacity: 0;
              }
            }
          }
        }
      }
    }
    &-footer-info {
      text-align: center;
      .description {
        opacity: 0;
        margin-top: -1.428rem;
        padding: 0 1.6rem;
        font-weight: lighter;
        word-spacing: 2px;
        color: $font-minor-color;
        font-size: 1.1rem;
      }
      .links {
        @include ul-initialize;
        @include flex-center-middle;
        @include prefix(flex-direction, column);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        padding: 1.3rem 0;
        li {
          @include ul-initialize;
          padding: 0 1rem;
          > a {
            opacity: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            @include prefix(flex-direction, column);
            @include flex-center-middle;
            @include size(180px, 60px);
          }
          .blue {
            color: #5e89fb;
          }
          .green {
            color: #18f38c;
            svg {
              @include prefix(transform, rotate(180deg));
            }
          }
          .red {
            color: #ff1461;
          }
          svg {
            stroke-width: 1;
            fill: none;
            fill-rule: evenodd;
            stroke: currentColor;
            @include custom-position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
          }
          path {
            scale: 0.9;
            transform-origin: 50% 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  :global {
    .home {
      .links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        @include prefix(flex-direction, row);
      }
    }
  }
}
