@import '../styles/basics/theme';
@import '../styles/basics/mixin';

//
:global {
  .home {
    position: absolute;
    overflow: hidden;
    background: $default-home-background-color;
    @include square(100%);
    @include flex-center-middle;
    @include flex-direction(column);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-transform: uppercase;
    opacity: 0;
    &.ready {
      opacity: 1;
    }
    .fireworks {
      @include square(100%);
      @include custom-position(absolute, $top: 0, $left: 0);
    }
    .logo-animation {
      width: 100%;
      pointer-events: none;
      @include flex-center-middle;
      margin-top: -(rem(40px));
      ul li {
        @include ul-initialize;
      }
      .letters {
        position: relative;
        @include flexbox;
        width: 50%;
        height: rem(162px);
      }
      .letter {
        position: relative;
        width: 162px;
        height: 162px;
        &:not(:first-child) {
          margin-left: -42px;
        }
        &-i {
          z-index: 1;
          width: 82px;
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
        }
      }

      .dot {
        position: absolute;
        width: 42px;
        height: 42px;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      .dot-i {
        top: 0;
        left: 240px;
      }

      .dot-e {
        bottom: 0;
        right: 0;
      }

      .logo-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 230px;
        top: -10px;
        width: 222px;
        height: 62px;
      }

      .icon {
        width: 62px;
        height: 62px;
        opacity: 0;
        cursor: pointer;
      }

      .icon-text {
        position: absolute;
        top: 60px;
        left: 60px;
        width: 160px;
        height: 62px;
      }

      .icon-text path,
      .icon-text polygon {
        opacity: 0;
      }
    }
    .info {
      text-align: center;
    }

    .description {
      opacity: 0;
      margin-top: -20px;
    }

    .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px;
    }
    .button {
      opacity: 0;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 180px;
      height: 60px;
      text-decoration: none;
    }

    .button.blue {
      color: #5e89fb;
    }

    .button.green {
      color: #18f38c;
    }

    .button.red {
      color: #ff1461;
    }

    .button svg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      stroke-width: 1;
      fill: none;
      fill-rule: evenodd;
      stroke: currentColor;
    }

    .button.green svg {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .button path {
      scale: 0.9;
      transform-origin: 50% 50%;
    }

    .credits {
      opacity: 0;
      margin-top: 20px;
      color: #979797;
    }

    .credits a {
      position: relative;
      color: currentColor;
      text-decoration: none;
    }

    .credits a:after {
      content: '';
      opacity: 0;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      border-bottom: 1px solid currentColor;
      transition: opacity 0.75s ease;
    }

    /*.credits a:hover:after {
      opacity: 1;
      transition: opacity .25s ease;
    }*/

    .credits a,
    .credits span {
      transition: color 0.75s ease;
    }

    .credits a:hover,
    .highlighted {
      color: white;
      transition: color 0.25s ease;
    }
  }
}

@media (min-width: 700px) {
  :global {
    .home {
      .links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
      }
    }
  }
}
