@import '../../styles/theme';
@import '../../styles/mixin';

:global {
  .copyright {
    opacity: 0;
    color: $font-minor-color;
    text-align: center;
    padding: 0 1rem;
    @include custom-position(relative, $bottom: 0.35rem);
    > div.texty {
      &:first-of-type {
        margin: 0 auto;
        //height: 1.5rem;
        text-align: center;
        //max-width: 420px;
      }
    }

    > a {
      color: currentColor;
      color: rgba($font-initialize-color, 0.8);
      padding: 0 0.22rem;
      &::after {
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid currentColor;
        transition: opacity 0.75s ease;
      }
      &:hover,
      .highlighted {
        color: $primary-color;
        transition: color 0.25s ease;
      }
    }
    a,
    em {
      transition: color 0.75s ease;
    }
    em {
      font-style: normal;
      padding-right: 0.3rem;
    }
    .texty-inline {
      display: inline;
    }
  }
}

@media (max-width: 640px) {
  :global {
    .copyright {
      font-size: 0.9rem;
      .texty-inline {
        display: inline-block;
      }
    }
  }
}
@media (max-width: 360px) {
  :global {
    .copyright {
      font-size: 0.8rem;
    }
  }
}
