@import '../../styles/theme';
@import '../../styles/mixin';

:global {
  .copyright {
    p {
      margin: 0;
    }
    user-select: none; //文本禁止复制
    opacity: 0;
    color: $font-minor-color;
    text-align: center;
    padding: 0 0.6rem;
    @include custom-position(relative, $bottom: 0.35rem);
    > div.texty {
      &:first-of-type {
        margin: 0 auto;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        max-width: 310px;
      }
    }
    > a {
      color: currentColor;
      color: rgba($font-initialize-color, 0.8);
      padding: 0 0.22rem;
      &::after {
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        border-bottom: 1px solid currentColor;
        transition: opacity 0.75s ease;
      }
      &:hover,
      .highlighted {
        color: $primary-color;
        transition: color 0.25s ease;
      }
    }
    a,
    em {
      transition: color 0.75s ease;
      &.version {
        color: $color-09;
      }
      &.date {
        color: $color-01;
        padding-left: 0.2rem;
      }
      &.team {
        color: $color-06;
      }
      &.code {
        color: $color-10;
      }
    }
    em {
      font-style: normal;
      padding-right: 0.3rem;
    }
    .texty-inline {
      display: inline;
    }
  }
}

@media (max-width: 640px) {
  :global {
    .copyright {
      font-size: 0.88rem;
      .texty-inline {
        display: inline-block;
      }
    }
  }
}
@media (max-width: 360px) {
  :global {
    .copyright {
      font-size: 0.8rem;
    }
  }
}
