@import '../styles/mixin';
@import '../styles/theme';
//
:global {
  .mux-layout {
    background: $default-background-color;
    min-height: 100vh;
    width: 100vw;
    &-header {
      padding: 0;
      background: transparent;
      display: none;
    }
    &-content {
      background: $default-background-color;
    }
    &-footer {
      padding: 0;
    }
    &-loading {
      @include center-middle;
      .ant-spin-text {
        margin-top: 8%;
      }
    }
  }
}
